* {
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
list-style-type: none;
text-decoration: none;


}

.panel{

    width: 100%;
    height: 60px;

    .header{
        display: flex;
        float: right;
        margin: 10px 5px auto auto;
        padding-left: 32px;
        padding-top: 5px;
        padding-right: 10px;
        line-height: 24px;
    
        a {
            color: rgba(0,0,0,0.87);
            vertical-align: middle;
            text-align: center;
            margin-right: 10px;
            cursor: pointer;
            
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

#profile {
    border-radius: 33px;
    width: 30px;
    
}

#apps {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.google-logo {
    width: 100%;
    height: auto;
    display: flex;
    
    img {
        margin: auto
    }
}

.search-input { 
    text-align: center;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid lightgray;
    width: 584px;
    height: 45px;
    margin: auto;
    display: flex;
    margin-top: 30px;
    
    input {
        padding: 0.8em 3em;
        outline: none;
        width:  100% ;
        vertical-align: middle;
        height: 25px;
        margin-top: 10px;
        border: none;
        margin-left: 5px;
        border-radius: 30px;
        
    }
}

#search  {
    color: grey;    
    vertical-align: middle;
    width: 25px;
    margin-top: 10px;
    margin-left: 1%;
    position: absolute;
    cursor: pointer;

 }

#mic {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 40%;
    position: absolute;
    cursor: pointer;
}

.search-buttons {
    height: 70px;
    padding-top: 18px;
    
    text-align: center;

    .button-google {
        padding: 0 16px;
        margin: 11px 4px;
        border-radius: 4px;
        color: #3c4043;
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        cursor: pointer;
        user-select: none;
        outline: none;
        font-size: 14px;

        &:hover{
            opacity: 0,85;
            border: 1px solid #dadce0;
        }

    }

}



footer {

    width: 100%;
    background: #f2f2f2;
    bottom: 0;
    position: absolute;
    
    

    .h1 {
        padding: 15px 30px;
        border-bottom: 1px solid #dadce0;
        font-size: 15px;
        color: rgba(0,0,0,.54);
         }
    
    a {
        font-size: 14px;
        line-height: 40px;
        padding-left: 27px;
        color: #70757a;

        &:hover {
            text-decoration: underline;
        }
        
    }

    .alt-panel { 

    display: flex;
    justify-content: space-between;

    
    }
    

    .alt-panel-sol {
        
        width: 400px;
        height: 46px;

        li{
            display: inline-flex;
           
        }
        

    }
    .alt-panel-sag {   
        
        width: 225px;
        height: 46px;
        padding-right: 27px;

        li{
            display: inline-flex;
            text-align: left;
            
            
        }

    }
 }